[Unit]
Description=iol
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
Restart=on-failure
WorkingDirectory=/home/pi/iolmaster/
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/pi/iolmaster/venv/bin/python -u /home/pi/iolmaster/startup.py

[Install]
WantedBy=graphical.target
