[Unit]
Description=iol
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=macch
WorkingDirectory=$HOME/iolmaster/
ExecStart=$HOME/iolmaster/venv/bin/python -u $HOME/iolmaster/startup.py

[Install]
WantedBy=multi-user.target
