[Unit]
Description=iol
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=macch
WorkingDirectory=/home/macch/iolmaster/
ExecStart=/home/macch/iolmaster/venv/bin/python -u /home/macch/iolmaster/startup.py

[Install]
WantedBy=multi-user.target
